POSTGRES_DB=travelcrm
POSTGRES_USER=travelcrm
POSTGRES_PASSWORD=234Bex456

JWT_SECRET=change-this-secret-to-a-long-random-256-bit-value

CORS_ORIGINS=https://usar.1edu.kz
NEXT_PUBLIC_API_URL=https://usar.1edu.kz/api